[user]
  email = {{ if hasKey . "email" }}{{ .email | quote }}{{ else }}"walter.lomonaco@gmail.com"{{ end }}
  name = {{ if hasKey . "name" }}{{ .name | quote }}{{ else }}"Walter Lomonaco"{{ end }}

[credential]
  username = {{ if hasKey . "username" }}{{ .username | quote }}{{ else }}"thewalterman"{{ end }}

[include]
  path = ~/.gitconfig.local
